<section id="academico">
  <h2>Historico Acadêmico</h2>
  <div class="container">
    <mat-card>
      <div>
        <ul>
          <li *ngFor="let curso of colecaoDeCursos | async">
            <div *ngIf="curso.concluido">
              <a href="{{ curso.link }}" target="_blank"
                >{{ curso.nome }} <span>: Concluido</span></a
              >
            </div>
            <div *ngIf="!curso.concluido">
              <a href="{{ curso.link }}" target="_blank"
                >{{ curso.nome }} <span>: Em andamento</span></a
              >
            </div>
          </li>
        </ul>
      </div>
    </mat-card>
  </div>

  <a
    href="https://drive.google.com/drive/folders/1x0jwl9e-lVlpun40HKgy2WRpNz3fi1Cz"
    target="_blank"
    mat-raised-button
    color="primary"
  >
    Acesse todos meus certificados
  </a>
</section>
