<section id="sobre" class="sobre">
  <h2 class="titulo-sobre">Sobre mim</h2>
  <p>
    Em 2021 iniciei meus estudos na área de tecnologia e desde então tive
    experiências com criação de software em bootcamps e âmbitos acadêmicos, onde
    desenvolvi habilidades em HTML, CSS, GIT, Métodos Ágeis (Scrum), Banco de
    Dados, JavaScript, Spring Boot, Java, React.JS, Angular, TypeScript,
    Bootstrap, conceitos básicos de DevOps e testes.
  </p>
  <p>
    Atualmente curso Desenvolvimento de Software Multiplataforma na Fatec de
    Cotia com o intuito de aprimorar meus conhecimentos e desenvolver novas
    habilidades.
  </p>
  <p>
    E também fui estudante do curso de bacharel e licenciatura em Filosofia, na
    USP - Universidade de São Paulo (FFLCH) ate 2021 onde realizei o trancamento
    do mesmo.
  </p>
</section>
