.sobre {
  width: 50%;
  margin: 5% auto;
  text-align: center;

  h2 {
    font-size: 1.5rem;
  }

  p {
    line-height: 1.3rem;
    color: #3a3a3a;
  }
}

 @media screen and (max-width: 480px) {
    .sobre {
      width: 90%;
    }
  }
