<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="info">
    <div class="container">
      <h2>Olá, eu sou o Willian Stephano :)</h2>
      <h3>Estudante de desenvolvimento de software</h3>

      <div class="row-btn">
        <button mat-raised-button color="primary">Download CV</button>
        <button
          mat-raised-button
          href="https://wa.me/5511945797284"
          target="_blank"
        >
          Entre em contato
        </button>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="ilustracao">
    <img src="../../../assets/progrraming.svg" alt="" srcset="" />
  </mat-grid-tile>
</mat-grid-list>
