<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="info">
    <div class="container">
      <h2>Olá, eu sou o Willian Stephano :)</h2>
      <h3>Estudante de desenvolvimento de software</h3>

      <div class="row-btn">
        <a
          mat-raised-button
          color="primary"
          href="https://drive.google.com/file/d/1UI1nWN-GzKPwkuuQ2ZoEvH8J5XjUwqk3/view"
          target="_blank"
        >
          Download CV
        </a>
        <a mat-raised-button href="https://wa.me/5511945797284" target="_blank">
          Entre em contato
        </a>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="ilustracao">
    <img src="../../../assets/progrraming.svg" alt="" srcset="" />
  </mat-grid-tile>
</mat-grid-list>
